* {
    box-sizing: border-box;
}

body {
    width: 98%;
    height: 100%;
    
    font-family: 'Open Sans', sans-serif;
    background: #374e45;
}

.week {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4px;
}

.day {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 10px;
}

.day .required_minutes {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 0px;
}

.day button {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: 15px;
    padding: 4px 0px;
}

.day button:hover {
    background-color: rgba(255, 255, 255, 0.55);
}

.day button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.tasks {
    display: grid;
    row-gap: 8px;
}

.task {
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    padding: 4px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4px;
}

.task input {
    color: rgba(255, 255, 255, 0.55);
    background-color: rgba(0, 0, 0, 0.3);
    border:  none;
}

.task input:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.task .top_row {
    display: grid;
    grid-template-columns: 1fr 3fr min-content;
    column-gap: 4px;
}

.task .top_row .project {
    min-width: 30px;
}

.task .top_row .comment {
    min-width: 90px;
}

.task .top_row .close_button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 4px;
}

.task .top_row .close_button:hover {
    color: rgba(255, 255, 255, 0.3);
}

.task .bottom_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4px;
}

#menu_window {
    display: grid;
    margin: 20px 4px;
    grid-template-columns: 30% auto auto auto 30%;
}

#save_state {
    margin: 4px;
    width: 80px;
    grid-column: 2;
}

#load_state {
    margin: 4px;
    width: 80px;
    grid-column: 3;
}

#clear_state {
    margin: 4px;
    width: 80px;
    grid-column: 4;
}

#anchor {
    visibility: hidden;
}